<script id="access_tpl" type="text/template">
    [% if(it) { %]
       [% for(var item in it){ %]

          [% if(it[item]['pid']!=0){ %]
          --
          [% } %]

          [% if(it[item]['is']!=0){ %]
              <input type="checkbox" name="rules"  value="[%= it[item]['id'] %]" checked="checked">
              [%= it[item]["title"] %]<br>
              [% }else{ %]
               <input type="checkbox" name="rules" value="[%= it[item]['id'] %]" >
              [%= it[item]["title"] %]<br>
              [% } %]

        [% } %]
    [% } %]
</script>