<script id="auth_list_tpl" type="text/template">
    [% if(it) { %]
    [% for(var item in it){ %]
    <tr class="text-center">
        <td>[%= it[item]['id'] %]</td>
        <td>[%= it[item]['title'] %]</td>
        <td>
            [% if(it[item]['description']) { %]
                [%= it[item]['description'] %]
            [% } %]
        </td>
        <td>
            <a class="btn1 btn-success edit" href="#modal-edit" data-toggle="modal" data-id='[%= it[item]["id"] %]'>编辑</a>
            <a class="btn btn-info btn-xs power"  href="#modal-power" data-toggle="modal" data-id='[%= it[item]["id"] %]'>权限分配</a>
            [% if(it[item]["status"] == 0) { %]
            <a class="btn1 btn-info is_show" data-toggle="modal" data-id='[%= it[item]["id"] %]'>正常</a>
            [% }else if(it[item]["status"] == 1) { %]
            <a class="btn1 btn-info is_show" data-toggle="modal" data-id='[%= it[item]["id"] %]'>冻结</a>
            [% }else{ %]
            <a class="btn1 btn-default" data-toggle="modal" data-id='[%= it[item]["id"] %]'>离职</a>
            [% } %]
        </td>
    </tr>
    [% } %]
    [% }else{ %]
    <tr>
        <td colspan="8" style="text-align:center;"> 暂无数据</td>
    </tr>
    [% } %]
</script>
<script id="access_tpl" type="text/template">
    [% if(it) { %]
    [% for(var item in it){ %]

    [% if(it[item]['pid']!=0){ %]

    [% } %]

    [% if(it[item]['is']!=0){ %]
    <input type="checkbox" name="rules"  value="[%= it[item]['id'] %]" checked="checked">
    [%= it[item]["title_show"] %]<br>
    [% }else{ %]
    <input type="checkbox" name="rules" value="[%= it[item]['id'] %]" >
    [%= it[item]["title_show"] %]<br>
    [% } %]

    [% } %]
    [% } %]
</script>